body {
  background-color: rgb(192, 75, 75); 
}

h1 {
  color: #f8d1d2;
  font-family: Helvetica;
  text-align: center;
}

h2 {
  color: #f7e8e8;
  font-family: sans-serif;
  font-size:50px;
  text-align: center;
}

#guess {
        width: 880px; 
        height: 30px; 
        font-size: 36px; 
        padding-top: 10px;
    }

label {
  font-size: 1.8em;
  text-align: center;
}

#WRONG, #GOOD {
    opacity: 0;
    transition: opacity 1s ease;
    display: none;
}

.show {
    display: block !important;
    opacity: 1 !important;
}

.hide {
    opacity: 0 !important;
}
