body {
  background-color: red; 
}

h1 {
  color: #FF7073;
  font-family: Helvetica;
  text-align: center;
}

h2 {
  color: #f7e8e8;
  font-family: sans-serif;
  font-size:50px;
  text-align: center;
}

#guess {
        width: 880px; 
        height: 30px; 
        font-size: 36px; 
        padding-top: 10px;
    }

label {
  font-size: 1.8em;
  text-align: center;
}
